In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Carregar o arquivo para um DataFrame
df_exames = pd.read_csv('./datasets/exame_diabetes.csv')

In [9]:
# Visualizar a estrutura do DataFrame
df_exames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genero     100 non-null    object
 1   idade      100 non-null    int64
 2   peso       100 non-null    int64
 3   altura     100 non-null    int64
 4   resultado  100 non-null    int64
dtypes: int64(4), object(1)
memory usage: 4.0+ KB

In [8]:
# Apresentar as 10 primeiras linhas
df_exames.head(10)

  genero  idade  peso  altura  resultado
0      M     46    83     165         98
1      F     23    83     164         82
2      M     39    71     154         93
3      F     26   103     165         95
4      M     27    55     176        100
5      M     64    93     190        117
6      F     21    70     182         90
7      F     60   101     179         84
8      F     63    83     189         92
9      F     65    78     175        121

In [6]:
df_exames['genero'].unique()

array(['M', 'F'], dtype=object)

In [7]:
# Remover coluna id_paciente
df_exames.drop(columns=['id_paciente'], axis=1, inplace=True)